

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr




# IntelliJ / IDE
.idea/
*.iml

# Maven
target/



# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Archivos temporales
*.tmp
*.cache

# ZIPs generados
*.zip